## Pandas - Importing data

In [14]:
## import the pandas library in this cell
import pandas as pd

### Ingest the following dataset into this note:

- ```ems_2019_first_6_months.csv``` into a dataframe named ```ems_19_first_df```

In [16]:
## import data and store in dataframe
ems_19_first_df = pd.read_csv("wk7_data/ems_2019_first_6_months.csv")

In [18]:
## call the first 10 rows
ems_19_first_df.head(10)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,190010111,2019-01-01 00:24:51,SICK,6,SICK,6,01/01/2019 12:25:28 AM,Y,37,01/01/2019 12:25:56 AM,...,9.0,2.0,103.0,1.0,12.0,N,N,N,N,chunk10.csv
1,190010112,2019-01-01 00:25:22,DRUG,4,DRUG,4,01/01/2019 12:25:39 AM,Y,17,01/01/2019 12:26:03 AM,...,23.0,9.0,111.0,4.0,13.0,N,N,N,N,chunk10.csv
2,190010113,2019-01-01 00:25:52,DRUG,4,DRUG,4,01/01/2019 12:25:57 AM,Y,5,01/01/2019 12:26:11 AM,...,63.0,45.0,318.0,22.0,8.0,N,N,N,N,chunk13.csv
3,190010114,2019-01-01 00:25:52,OBMAJ,3,OBMAJ,3,01/01/2019 12:26:13 AM,Y,21,01/01/2019 12:26:24 AM,...,106.0,32.0,410.0,27.0,8.0,N,N,N,N,chunk14.csv
4,190010115,2019-01-01 00:26:03,EDP,7,EDP,7,01/01/2019 12:26:12 AM,Y,9,01/01/2019 12:26:29 AM,...,101.0,31.0,414.0,27.0,5.0,N,N,N,N,chunk14.csv
5,190073272,2019-01-07 17:49:43,EDP,7,EDP,7,01/07/2019 05:49:50 PM,Y,7,01/07/2019 05:50:04 PM,...,17.0,5.0,106.0,2.0,12.0,N,N,N,N,chunk149.csv
6,190073416,2019-01-07 18:27:54,EDP,7,EDP,7,01/07/2019 06:28:33 PM,Y,39,01/07/2019 06:28:44 PM,...,6.0,3.0,102.0,2.0,10.0,N,N,N,N,chunk149.csv
7,190081434,2019-01-08 10:28:31,UNKNOW,4,UNKNOW,4,01/08/2019 10:29:19 AM,Y,48,01/08/2019 10:29:36 AM,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,chunk149.csv
8,190081743,2019-01-08 11:43:35,UNKNOW,4,UNKNOW,4,01/08/2019 11:43:47 AM,Y,12,01/08/2019 11:43:55 AM,...,7.0,1.0,103.0,2.0,12.0,N,N,N,N,chunk149.csv
9,190081744,2019-01-08 11:43:48,EDP,7,EDP,7,01/08/2019 11:43:59 AM,Y,11,01/08/2019 11:44:30 AM,...,44.0,16.0,204.0,9.0,15.0,N,N,N,N,chunk149.csv

In [21]:
## call the last 5 rows
ems_19_first_df.tail()

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
754651,190010106,2019-01-01 00:24:12,DRUG,4,DRUG,4,01/01/2019 12:28:52 AM,Y,280,01/01/2019 12:28:52 AM,...,14.0,3.0,105.0,2.0,12.0,N,N,N,N,chunk82.csv
754652,190010107,2019-01-01 00:24:14,UNC,2,UNC,2,01/01/2019 12:24:38 AM,Y,24,01/01/2019 12:24:57 AM,...,14.0,3.0,105.0,2.0,12.0,N,N,N,N,chunk82.csv
754653,190010108,2019-01-01 00:24:16,INJMAJ,3,INJMAJ,3,01/01/2019 12:25:50 AM,Y,94,01/01/2019 12:25:50 AM,...,18.0,4.0,105.0,2.0,12.0,N,N,N,N,chunk82.csv
754654,190010109,2019-01-01 00:24:23,CARD,3,CARD,3,01/01/2019 12:25:08 AM,Y,45,01/01/2019 12:25:27 AM,...,50.0,14.0,208.0,10.0,13.0,N,N,N,N,chunk82.csv
754655,190010110,2019-01-01 00:24:35,DRUG,4,DRUG,4,01/01/2019 12:25:28 AM,Y,53,01/01/2019 12:25:40 AM,...,62.0,47.0,311.0,20.0,10.0,N,N,N,N,chunk82.csv

In [22]:
## call a 20 random rows
ems_19_first_df.sample(20)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
456869,191154212,2019-04-25 22:25:10,INJURY,5,INJURY,5,04/25/2019 10:26:10 PM,Y,60,04/25/2019 10:28:47 PM,...,18.0,4.0,105.0,2.0,12.0,N,N,N,N,chunk154.csv
606755,191511051,2019-05-31 08:39:10,INJURY,5,INJURY,5,05/31/2019 08:40:35 AM,Y,85,05/31/2019 08:41:07 AM,...,43.0,18.0,209.0,8.0,15.0,N,N,N,N,chunk155.csv
524494,191320856,2019-05-12 05:19:14,UNKNOW,4,EDP,7,05/12/2019 05:21:01 AM,Y,107,05/12/2019 05:22:35 AM,...,34.0,10.0,112.0,6.0,13.0,N,N,N,N,chunk155.csv
722822,191772191,2019-06-26 12:39:12,ANAPH,2,ANAPH,2,06/26/2019 12:40:02 PM,Y,50,06/26/2019 12:40:15 PM,...,17.0,2.0,106.0,2.0,12.0,N,N,N,N,chunk157.csv
305579,190791116,2019-03-20 09:19:34,ABDPN,5,ABDPN,5,03/20/2019 09:19:51 AM,Y,17,03/20/2019 09:19:57 AM,...,40.0,8.0,201.0,7.0,15.0,N,N,N,N,chunk152.csv
240349,190631646,2019-03-04 11:38:06,MVAINJ,4,MVAINJ,4,03/04/2019 11:38:26 AM,Y,20,03/04/2019 11:38:33 AM,...,109.0,20.0,407.0,25.0,6.0,N,N,N,N,chunk152.csv
416414,191060016,2019-04-16 00:09:31,SICK,6,SICK,6,04/16/2019 12:09:46 AM,Y,15,04/16/2019 12:09:56 AM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk154.csv
342728,190881825,2019-03-29 11:52:32,CARDBR,2,CARDBR,2,03/29/2019 11:54:41 AM,Y,129,03/29/2019 11:54:53 AM,...,107.0,24.0,408.0,28.0,6.0,N,N,N,N,chunk153.csv
9028,190050138,2019-01-05 00:48:10,DIFFBR,2,DIFFBR,2,01/05/2019 12:48:31 AM,Y,21,01/05/2019 12:48:52 AM,...,75.0,37.0,305.0,19.0,7.0,N,N,N,N,chunk149.csv
667296,191644270,2019-06-13 22:58:17,CARD,3,CARD,3,06/13/2019 10:58:40 PM,Y,23,06/13/2019 10:59:18 PM,...,63.0,46.0,318.0,22.0,8.0,N,N,N,N,chunk156.csv
516973,191302253,2019-05-10 13:44:15,MVAINJ,4,MVAINJ,4,05/10/2019 01:44:25 PM,Y,10,05/10/2019 01:44:40 PM,...,113.0,31.0,413.0,29.0,5.0,N,N,N,N,chunk155.csv
491426,191242269,2019-05-04 14:25:01,DIFFBR,2,DIFFBR,2,05/04/2019 02:25:11 PM,Y,10,05/04/2019 02:25:22 PM,...,102.0,28.0,409.0,27.0,5.0,N,N,N,N,chunk154.csv
667969,191650555,2019-06-14 04:58:50,DIFFBR,2,DIFFBR,2,06/14/2019 04:59:08 AM,Y,18,06/14/2019 04:59:21 AM,...,25.0,9.0,111.0,5.0,13.0,N,N,N,N,chunk156.csv
60085,190181143,2019-01-18 09:16:58,INJMAJ,3,INJMAJ,3,01/18/2019 09:17:08 AM,Y,10,01/18/2019 09:17:18 AM,...,109.0,20.0,407.0,25.0,6.0,N,N,N,N,chunk150.csv
35273,190120123,2019-01-12 00:46:30,UNKNOW,4,UNKNOW,4,01/12/2019 12:47:09 AM,Y,39,01/12/2019 12:47:29 AM,...,75.0,42.0,305.0,19.0,8.0,N,N,N,N,chunk150.csv
669267,191652008,2019-06-14 12:37:41,STATEP,2,STATEP,2,06/14/2019 12:37:45 PM,Y,4,06/14/2019 12:37:58 PM,...,43.0,18.0,209.0,8.0,15.0,N,N,N,N,chunk156.csv
2885,190021251,2019-01-02 09:33:27,EDP,7,EDP,7,01/02/2019 09:33:48 AM,Y,21,01/02/2019 09:33:58 AM,...,120.0,49.0,501.0,31.0,11.0,N,N,N,N,chunk149.csv
685506,191690467,2019-06-18 03:46:10,CARDBR,2,CARDBR,2,06/18/2019 03:46:22 AM,Y,12,06/18/2019 03:46:48 AM,...,44.0,8.0,204.0,7.0,15.0,N,N,N,N,chunk156.csv
650212,191604519,2019-06-09 23:13:53,EDP,7,DRUG,4,06/09/2019 11:14:12 PM,Y,19,06/09/2019 11:15:26 PM,...,44.0,16.0,204.0,9.0,15.0,N,N,N,N,chunk156.csv
284624,190741138,2019-03-15 09:11:12,DIFFBR,2,DIFFBR,2,03/15/2019 09:11:32 AM,Y,20,03/15/2019 09:11:44 AM,...,25.0,9.0,111.0,5.0,13.0,N,N,N,N,chunk152.csv

In [24]:
## get basic overview of the data
## what datatypes do the different columns hold?
## how many rows and columns are there
ems_19_first_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 754656 entries, 0 to 754655
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CAD_INCIDENT_ID                 754656 non-null  int64
 1   INCIDENT_DATETIME               754656 non-null  object
 2   INITIAL_CALL_TYPE               754656 non-null  object
 3   INITIAL_SEVERITY_LEVEL_CODE     754656 non-null  int64
 4   FINAL_CALL_TYPE                 754656 non-null  object
 5   FINAL_SEVERITY_LEVEL_CODE       754656 non-null  int64
 6   FIRST_ASSIGNMENT_DATETIME       749544 non-null  object
 7   VALID_DISPATCH_RSPNS_TIME_INDC  754656 non-null  object
 8   DISPATCH_RESPONSE_SECONDS_QY    754656 non-null  int64
 9   FIRST_ACTIVATION_DATETIME       748561 non-null  object
 10  FIRST_ON_SCENE_DATETIME         729221 non-null  object
 11  VALID_INCIDENT_RSPNS_TIME_INDC  754656 non-null  object
 12  INCIDENT_RESPONSE_SECONDS_QY    729068 non-null  float64
 13  INCIDENT_TRAVEL_TM_SECONDS_QY   729221 non-null  float64
 14  FIRST_TO_HOSP_DATETIME          522462 non-null  object
 15  FIRST_HOSP_ARRIVAL_DATETIME     518867 non-null  object
 16  INCIDENT_CLOSE_DATETIME         754540 non-null  object
 17  HELD_INDICATOR                  754656 non-null  object
 18  INCIDENT_DISPOSITION_CODE       748265 non-null  float64
 19  BOROUGH                         754656 non-null  object
 20  INCIDENT_DISPATCH_AREA          754656 non-null  object
 21  ZIPCODE                         745086 non-null  float64
 22  POLICEPRECINCT                  745102 non-null  float64
 23  CITYCOUNCILDISTRICT             745071 non-null  float64
 24  COMMUNITYDISTRICT               745101 non-null  float64
 25  COMMUNITYSCHOOLDISTRICT         744542 non-null  float64
 26  CONGRESSIONALDISTRICT           745071 non-null  float64
 27  REOPEN_INDICATOR                754656 non-null  object
 28  SPECIAL_EVENT_INDICATOR         754656 non-null  object
 29  STANDBY_INDICATOR               754656 non-null  object
 30  TRANSFER_INDICATOR              754656 non-null  object
 31  source                          754656 non-null  object
dtypes: float64(9), int64(4), object(19)
memory usage: 184.2+ MB

### In three separate cells, ingest the 3 other related datasets into this notebook:

- ```ems_2019_last_6_months.csv``` into a dataframe named ```ems_19_last_df```
- ```ems_2020_first_6_months.csv``` into a dataframe named ```ems_20_first_df```
- ```ems_2020_last_6_months.csv``` into a dataframe named ```ems_20_last_df```

We want to combine all 4 dataframes so we can run an analysis on the combined dataframes

In [34]:
### For last 6 months of 2019
## call the dataframe to see what you have
ems_19_last_df = pd.read_csv("wk7_data/ems_2019_last_6_months.csv")
ems_19_last_df

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,191853909,2019-07-04 21:07:53,DRUG,4,DRUG,4,07/04/2019 09:08:16 PM,Y,23,07/04/2019 09:08:26 PM,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,chunk157.csv
1,191864927,2019-07-05 21:09:53,MVAINJ,4,MVAINJ,4,07/05/2019 09:10:10 PM,Y,17,07/05/2019 09:10:20 PM,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,chunk157.csv
2,191870823,2019-07-06 05:32:12,INJURY,5,INJURY,5,07/06/2019 05:32:49 AM,Y,37,07/06/2019 05:33:40 AM,...,47.0,12.0,212.0,11.0,16.0,N,N,N,N,chunk157.csv
3,191870824,2019-07-06 05:33:49,UNC,2,UNC,2,07/06/2019 05:33:57 AM,Y,8,07/06/2019 05:34:25 AM,...,32.0,9.0,110.0,5.0,13.0,N,N,N,N,chunk157.csv
4,191870897,2019-07-06 06:20:26,INJURY,5,INJURY,5,07/06/2019 06:20:43 AM,Y,17,07/06/2019 06:20:53 AM,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,chunk157.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
781735,192702998,2019-09-27 16:20:29,EDP,7,UNKNOW,4,09/27/2019 04:21:09 PM,Y,40,09/27/2019 04:21:21 PM,...,100.0,31.0,414.0,27.0,5.0,N,N,N,N,chunk81.csv
781736,192704269,2019-09-27 21:05:14,OTHER,6,OTHER,6,09/27/2019 09:05:26 PM,Y,12,09/27/2019 09:07:15 PM,...,43.0,18.0,209.0,8.0,15.0,N,N,N,N,chunk81.csv
781737,193012678,2019-10-28 15:01:30,MVAINJ,4,MVAINJ,4,10/28/2019 03:01:30 PM,Y,0,10/28/2019 03:01:30 PM,...,109.0,20.0,407.0,25.0,6.0,N,N,N,N,chunk81.csv
781738,193330212,2019-11-29 01:16:42,EDP,7,EDP,7,11/29/2019 01:17:36 AM,Y,54,11/29/2019 01:17:53 AM,...,28.0,9.0,110.0,5.0,13.0,N,N,N,N,chunk81.csv
781739,193634478,2019-12-29 23:59:34,EDP,7,EDP,7,NaN,N,0,NaN,...,41.0,17.0,202.0,8.0,15.0,N,N,N,N,chunk81.csv

In [37]:
### For first 6 months of 2020
## call the dataframe to see what you have
ems_20_first_df = pd.read_csv("wk7_data/ems_2020_first_6_months.csv")
ems_20_first_df

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,201012966,2020-04-10 14:36:07,SICK,6,SICK,6,04/10/2020 02:36:37 PM,Y,30,04/10/2020 02:37:36 PM,...,101.0,31.0,414.0,27.0,5.0,N,N,N,N,chunk148.csv
1,201013858,2020-04-10 17:37:57,SICKFC,6,SICKFC,6,04/10/2020 05:56:30 PM,Y,1113,04/10/2020 05:56:30 PM,...,42.0,17.0,203.0,12.0,15.0,N,N,N,N,chunk148.csv
2,201013897,2020-04-10 17:46:07,HYPTN,7,HYPTN,7,04/10/2020 05:51:43 PM,Y,336,04/10/2020 05:51:47 PM,...,62.0,43.0,311.0,20.0,11.0,N,N,N,N,chunk148.csv
3,201014048,2020-04-10 18:19:32,SICKFC,6,SICKFC,6,04/10/2020 06:19:54 PM,Y,22,04/10/2020 06:23:23 PM,...,52.0,14.0,207.0,10.0,13.0,N,N,N,N,chunk148.csv
4,201014049,2020-04-10 18:19:33,INJURY,5,INJURY,5,04/10/2020 06:25:55 PM,Y,382,04/10/2020 06:26:14 PM,...,103.0,27.0,412.0,28.0,5.0,N,N,N,N,chunk148.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741802,201824116,2020-06-30 23:58:45,INJURY,5,INJURY,5,06/30/2020 11:58:56 PM,Y,11,06/30/2020 11:59:18 PM,...,106.0,28.0,410.0,27.0,5.0,N,N,N,N,chunk172.csv
741803,201824117,2020-06-30 23:59:00,DRUG,4,DRUG,4,06/30/2020 11:59:24 PM,Y,24,06/30/2020 11:59:40 PM,...,61.0,47.0,315.0,21.0,11.0,N,N,N,N,chunk172.csv
741804,201824118,2020-06-30 23:59:26,INJURY,5,INJURY,5,06/30/2020 11:59:40 PM,Y,14,06/30/2020 11:59:57 PM,...,30.0,7.0,109.0,6.0,13.0,N,N,N,N,chunk172.csv
741805,200293244,2020-01-29 17:15:18,UNKNOW,4,UNKNOW,4,01/29/2020 05:47:34 PM,Y,1936,01/29/2020 05:47:57 PM,...,14.0,4.0,105.0,2.0,12.0,N,N,N,N,chunk81.csv
741806,200293566,2020-01-29 18:32:45,EDPC,7,EDPC,7,NaN,N,0,NaN,...,9.0,2.0,102.0,2.0,12.0,N,N,N,N,chunk81.csv

In [38]:
### For last 6 months of 2020
## call the dataframe to see what you have
ems_20_last_df = pd.read_csv("wk7_data/ems_2020_last_6_months.csv")
ems_20_last_df

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR,source
0,201853344,2020-07-03 19:51:35,MVAINJ,4,MVAINJ,4,07/03/2020 07:52:54 PM,Y,79,07/03/2020 07:53:13 PM,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,chunk172.csv
1,201861781,2020-07-04 13:38:45,INJURY,5,INJURY,5,07/04/2020 01:38:55 PM,Y,10,07/04/2020 01:39:01 PM,...,20.0,3.0,107.0,3.0,10.0,N,N,N,N,chunk172.csv
2,201862931,2020-07-04 19:06:08,INJURY,5,INJURY,5,07/04/2020 07:06:34 PM,Y,26,07/04/2020 07:06:53 PM,...,60.0,47.0,313.0,21.0,8.0,N,N,N,N,chunk172.csv
3,201870048,2020-07-05 00:09:31,SICK,6,SICK,6,NaN,N,0,NaN,...,46.0,14.0,205.0,10.0,15.0,N,N,N,N,chunk172.csv
4,201870159,2020-07-05 00:31:24,EDPC,7,SICK,6,NaN,N,0,NaN,...,43.0,17.0,209.0,12.0,15.0,N,N,N,N,chunk172.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670750,203664156,2020-12-31 23:58:15,DIFFBR,2,DIFFBR,2,12/31/2020 11:58:26 PM,Y,11,12/31/2020 11:59:10 PM,...,79.0,36.0,303.0,14.0,7.0,N,N,N,N,chunk214.csv
670751,203664157,2020-12-31 23:58:27,INJURY,5,INJURY,5,12/31/2020 11:59:57 PM,Y,90,01/01/2021 12:01:00 AM,...,41.0,17.0,202.0,8.0,15.0,N,N,N,N,chunk214.csv
670752,203664158,2020-12-31 23:58:38,CARDBR,2,CARDBR,2,12/31/2020 11:59:32 PM,Y,54,12/31/2020 11:59:40 PM,...,30.0,7.0,109.0,6.0,13.0,N,N,N,N,chunk214.csv
670753,203664159,2020-12-31 23:58:46,MVAINJ,4,MVAINJ,4,12/31/2020 11:59:37 PM,Y,51,01/01/2021 12:01:00 AM,...,48.0,17.0,206.0,12.0,15.0,N,N,N,N,chunk214.csv
670754,203664161,2020-12-31 23:59:13,CARDBR,2,CARDBR,2,01/01/2021 12:00:22 AM,Y,69,01/01/2021 12:01:10 AM,...,77.0,36.0,308.0,16.0,9.0,N,N,N,N,chunk214.csv

### Check if all the column headers are identical (down to the same order)
We need to confirm they are the same before we combine them

In [53]:
## headers for first 6 months of 2019
headerf19 = list(ems_19_first_df.columns)
headerf19

['CAD_INCIDENT_ID',
 'INCIDENT_DATETIME',
 'INITIAL_CALL_TYPE',
 'INITIAL_SEVERITY_LEVEL_CODE',
 'FINAL_CALL_TYPE',
 'FINAL_SEVERITY_LEVEL_CODE',
 'FIRST_ASSIGNMENT_DATETIME',
 'VALID_DISPATCH_RSPNS_TIME_INDC',
 'DISPATCH_RESPONSE_SECONDS_QY',
 'FIRST_ACTIVATION_DATETIME',
 'FIRST_ON_SCENE_DATETIME',
 'VALID_INCIDENT_RSPNS_TIME_INDC',
 'INCIDENT_RESPONSE_SECONDS_QY',
 'INCIDENT_TRAVEL_TM_SECONDS_QY',
 'FIRST_TO_HOSP_DATETIME',
 'FIRST_HOSP_ARRIVAL_DATETIME',
 'INCIDENT_CLOSE_DATETIME',
 'HELD_INDICATOR',
 'INCIDENT_DISPOSITION_CODE',
 'BOROUGH',
 'INCIDENT_DISPATCH_AREA',
 'ZIPCODE',
 'POLICEPRECINCT',
 'CITYCOUNCILDISTRICT',
 'COMMUNITYDISTRICT',
 'COMMUNITYSCHOOLDISTRICT',
 'CONGRESSIONALDISTRICT',
 'REOPEN_INDICATOR',
 'SPECIAL_EVENT_INDICATOR',
 'STANDBY_INDICATOR',
 'TRANSFER_INDICATOR',
 'source']

In [52]:
## headers for first 6 months of 2020
headerf20 = list(ems_20_first_df.columns)
headerf20

['CAD_INCIDENT_ID',
 'INCIDENT_DATETIME',
 'INITIAL_CALL_TYPE',
 'INITIAL_SEVERITY_LEVEL_CODE',
 'FINAL_CALL_TYPE',
 'FINAL_SEVERITY_LEVEL_CODE',
 'FIRST_ASSIGNMENT_DATETIME',
 'VALID_DISPATCH_RSPNS_TIME_INDC',
 'DISPATCH_RESPONSE_SECONDS_QY',
 'FIRST_ACTIVATION_DATETIME',
 'FIRST_ON_SCENE_DATETIME',
 'VALID_INCIDENT_RSPNS_TIME_INDC',
 'INCIDENT_RESPONSE_SECONDS_QY',
 'INCIDENT_TRAVEL_TM_SECONDS_QY',
 'FIRST_TO_HOSP_DATETIME',
 'FIRST_HOSP_ARRIVAL_DATETIME',
 'INCIDENT_CLOSE_DATETIME',
 'HELD_INDICATOR',
 'INCIDENT_DISPOSITION_CODE',
 'BOROUGH',
 'INCIDENT_DISPATCH_AREA',
 'ZIPCODE',
 'POLICEPRECINCT',
 'CITYCOUNCILDISTRICT',
 'COMMUNITYDISTRICT',
 'COMMUNITYSCHOOLDISTRICT',
 'CONGRESSIONALDISTRICT',
 'REOPEN_INDICATOR',
 'SPECIAL_EVENT_INDICATOR',
 'STANDBY_INDICATOR',
 'TRANSFER_INDICATOR',
 'source']

In [54]:
## check if they are the same
headerf19 == headerf20

True

In [62]:
## creater headers list for last 6 months of 2019 and 2020
headerl19 = list(ems_19_last_df.columns)
headerl20 = list(ems_20_last_df.columns)

In [64]:
## check if one of the first is equal to one of the last
headerf19 == headerl19

True

In [66]:
## now confirm that the two lasts are the same
headerl19 == headerl20

True

## Combine the 4 dataframes

In [85]:
## create a list to combine all 
ems_list = [ems_19_first_df, ems_19_last_df, ems_20_first_df, ems_20_last_df]

In [86]:
## combine the dfs
ems_df = pd.concat(ems_list)

#### Confirm that their row totals add up to the correct number

In [87]:
## how many rows does the combined df have
ems_df.info

<bound method DataFrame.info of         CAD_INCIDENT_ID    INCIDENT_DATETIME INITIAL_CALL_TYPE  \
0             190010111  2019-01-01 00:24:51              SICK
1             190010112  2019-01-01 00:25:22              DRUG
2             190010113  2019-01-01 00:25:52              DRUG
3             190010114  2019-01-01 00:25:52             OBMAJ
4             190010115  2019-01-01 00:26:03               EDP
...                 ...                  ...               ...
670750        203664156  2020-12-31 23:58:15            DIFFBR
670751        203664157  2020-12-31 23:58:27            INJURY
670752        203664158  2020-12-31 23:58:38            CARDBR
670753        203664159  2020-12-31 23:58:46            MVAINJ
670754        203664161  2020-12-31 23:59:13            CARDBR

        INITIAL_SEVERITY_LEVEL_CODE FINAL_CALL_TYPE  \
0                                 6            SICK
1                                 4            DRUG
2                                 4            DRUG
3                                 3           OBMAJ
4                                 7             EDP
...                             ...             ...
670750                            2          DIFFBR
670751                            5          INJURY
670752                            2          CARDBR
670753                            4          MVAINJ
670754                            2          CARDBR

        FINAL_SEVERITY_LEVEL_CODE FIRST_ASSIGNMENT_DATETIME  \
0                               6    01/01/2019 12:25:28 AM
1                               4    01/01/2019 12:25:39 AM
2                               4    01/01/2019 12:25:57 AM
3                               3    01/01/2019 12:26:13 AM
4                               7    01/01/2019 12:26:12 AM
...                           ...                       ...
670750                          2    12/31/2020 11:58:26 PM
670751                          5    12/31/2020 11:59:57 PM
670752                          2    12/31/2020 11:59:32 PM
670753                          4    12/31/2020 11:59:37 PM
670754                          2    01/01/2021 12:00:22 AM

       VALID_DISPATCH_RSPNS_TIME_INDC  DISPATCH_RESPONSE_SECONDS_QY  \
0                                   Y                            37
1                                   Y                            17
2                                   Y                             5
3                                   Y                            21
4                                   Y                             9
...                               ...                           ...
670750                              Y                            11
670751                              Y                            90
670752                              Y                            54
670753                              Y                            51
670754                              Y                            69

       FIRST_ACTIVATION_DATETIME  ... POLICEPRECINCT CITYCOUNCILDISTRICT  \
0         01/01/2019 12:25:56 AM  ...            9.0                 2.0
1         01/01/2019 12:26:03 AM  ...           23.0                 9.0
2         01/01/2019 12:26:11 AM  ...           63.0                45.0
3         01/01/2019 12:26:24 AM  ...          106.0                32.0
4         01/01/2019 12:26:29 AM  ...          101.0                31.0
...                          ...  ...            ...                 ...
670750    12/31/2020 11:59:10 PM  ...           79.0                36.0
670751    01/01/2021 12:01:00 AM  ...           41.0                17.0
670752    12/31/2020 11:59:40 PM  ...           30.0                 7.0
670753    01/01/2021 12:01:00 AM  ...           48.0                17.0
670754    01/01/2021 12:01:10 AM  ...           77.0                36.0

        COMMUNITYDISTRICT  COMMUNITYSCHOOLDISTRICT CONGRESSIONALDISTRICT  \
0                   103.0                      1.0                  12.0
1                   111.0                      4.0                  13.0
2                   318.0                     22.0                   8.0
3                   410.0                     27.0                   8.0
4                   414.0                     27.0                   5.0
...                   ...                      ...                   ...
670750              303.0                     14.0                   7.0
670751              202.0                      8.0                  15.0
670752              109.0                      6.0                  13.0
670753              206.0                     12.0                  15.0
670754              308.0                     16.0                   9.0

       REOPEN_INDICATOR SPECIAL_EVENT_INDICATOR STANDBY_INDICATOR  \
0                     N                       N                 N
1                     N                       N                 N
2                     N                       N                 N
3                     N                       N                 N
4                     N                       N                 N
...                 ...                     ...               ...
670750                N                       N                 N
670751                N                       N                 N
670752                N                       N                 N
670753                N                       N                 N
670754                N                       N                 N

        TRANSFER_INDICATOR        source
0                        N   chunk10.csv
1                        N   chunk10.csv
2                        N   chunk13.csv
3                        N   chunk14.csv
4                        N   chunk14.csv
...                    ...           ...
670750                   N  chunk214.csv
670751                   N  chunk214.csv
670752                   N  chunk214.csv
670753                   N  chunk214.csv
670754                   N  chunk214.csv

[2948958 rows x 32 columns]>

In [99]:
## get total rows when you add up all the individual dataframes
ems_df.shape[0]

2948958

## Ingest Massive Dataset

Step 1. Open this dataset in Excel first. What happened?

Step 2. Open this data set in Pandas.

In [93]:
## import global_temps.csv into a df called temps_df
temps_df = pd.read_csv("wk7_data/global_temps.csv")
temps_df

,Region,Country,City,Month,Day,Year,AvgTemperature
0,Africa,Algeria,Algiers,1,1,1995,64.2
1,Africa,Algeria,Algiers,1,2,1995,49.4
2,Africa,Algeria,Algiers,1,3,1995,48.8
3,Africa,Algeria,Algiers,1,4,1995,46.4
4,Africa,Algeria,Algiers,1,5,1995,47.9
...,...,...,...,...,...,...,...
2906322,North America,US,San Juan Puerto Rico,7,27,2013,82.4
2906323,North America,US,San Juan Puerto Rico,7,28,2013,81.6
2906324,North America,US,San Juan Puerto Rico,7,29,2013,84.2
2906325,North America,US,San Juan Puerto Rico,7,30,2013,83.8
2906326,North America,US,San Juan Puerto Rico,7,31,2013,83.6

## How many rows of data does this dataset have?

In [98]:
## 2_906_327
temps_df.shape[0]

2906327

## Targeting an Excel sheet

We need the Customs and Border Protection data in this ```multi-data.xlsx``` workbook.

Note that this is an excerpt of the actual CBP data.

In [100]:
### import it here
border_df = pd.read_excel("wk7_data/multi-data.xlsx")

In [101]:
## call the top 15 rows
border_df.head(15)

,Serial Number,County,License Type Code,License Class Code,Certificate Number,Premise Name,DBA,Premise Address,Premise Address 2,Premise City,...,Premise Zip,License Issued Date,License Expiration Date,Method of Operation,Days/Hours of Operation,Other,Georeference,Zone,Effective Date,Original Date
0,2000777,ALBANY,HL,242,912771,SUPER HOST HOTELS INC,ALBANY RAMADA PLAZA,3 WATERVLIET AVE,NaN,ALBANY,...,12206,2019-11-15,2021-11-30,HOTEL RESTAURANT SERVING BEER WINE CIDER AND L...,NaN,NaN,POINT (-73.783705 42.674761),2,2019-12-01,1996-12-05
1,1197749,NASSAU,CT,246,913036,MEMORARE CATERERS INC,NaN,2183 JACKSON AVE A,WAVERLY AVE & MERRICK ROAD,SEAFORD,...,11783,2019-11-22,2021-11-30,CATERER SERVING BEER CIDER WINE AND LIQUOR,NaN,NaN,POINT (-73.487062 40.668214),1,2019-12-01,2007-12-18
2,2149537,SULLIVAN,AX,122,910149,AHMED TRADING INC,NaN,1302 STATE ROUTE 52,NaN,LOCH SHELDRAKE,...,12759,2018-11-19,2021-11-30,GROCERY SELLING BEER CIDER AND WINE PRODUCTS,NaN,NaN,POINT (-74.66699 41.777859),2,2018-12-01,2009-12-22
3,1311950,QUEENS,W,322,903719,CAOTICO LLC,FORET WINES,68-38 FOREST AVE,STOREFRONT C,RIDGEWOOD,...,11385,2018-12-31,2021-11-30,WINE STORE SELLING WINE,NaN,NaN,POINT (-73.90109 40.702673),1,2018-12-31,2018-12-31
4,2217319,PUTNAM,TW,344,917985,COFFEE TIME CAFE INC,NaN,559 RTE 6N,NaN,MAHOPAC,...,10541,2019-12-05,2021-11-30,TAVERN SERVING BEER AND WINE,NaN,NaN,POINT (-73.763883 41.374319),2,2019-12-05,2019-12-05
5,1319511,NEW YORK,RW,341,831035,DONATELLA MOXY 7TH AVENUE LLC,PROVA PIZZA BAR,485 7TH AVE,GROUND FLOOR,NEW YORK,...,10123,2019-12-23,2021-11-30,"RESTAURANT SERVING WINE, BEER AND CIDER",NaN,Recorded Music Permitted and No Dancing,NaN,1,2019-12-23,2019-12-23
6,2220767,MONTGOMERY,C,103,935317,CUDA BEVERAGE LLC,BILL'S BEVERAGE,1 WILLOW ST,NaN,AMSTERDAM,...,12010,2020-12-14,2021-11-30,WHOLESALE BEER,NaN,NaN,POINT (-74.1866 42.940987),2,2020-12-14,2020-12-14
7,2129283,ALBANY,WS,308,911084,"SILVERADO VINEYARDS, THE",NaN,6121 SILVERADO TRAIL,NaN,NAPA,...,94558,2018-12-03,2021-12-31,OUT OF STATE DIRECT SHIPPER,NaN,NaN,POINT (-122.33304899999999 38.40974),2,2019-01-01,2005-10-19
8,2138381,ALBANY,WS,308,911310,VOLCANO VINEYARDS LLC,VOLCANO WINERY,35 PILMAUNA DRIVE,NaN,VOLCANO,...,96785,2018-12-10,2021-12-31,OUT OF STATE DIRECT SHIPPER,NaN,NaN,NaN,2,2019-01-01,2007-06-28
9,2160505,ALBANY,WS,308,911278,J J COHN ESTATE LLC,NaN,5055 SOLANO AVE,7079689367,NAPA,...,94558,2018-12-10,2021-12-31,OUT OF STATE DIRECT WINE SHIPPER,NaN,NaN,POINT (-122.33301599999999 38.3548),2,2019-01-01,2010-07-02
10,2175892,ALBANY,WS,308,911215,KENEFICK RANCHES WINERY LLC,KENEFICK RANCH WINERY,4550 SILVERADO TRAIL,NaN,CALISTOGA,...,945159647,2018-12-07,2021-12-31,OUT OF STATE DIRECT SHIPPER,NaN,NaN,POINT (-122.54937700000002 38.57468),2,2019-01-01,2011-08-11
11,2188886,ALBANY,WS,308,909969,KSSM LLC,MICHAEL SCHLUMBERGER,4155 WINE CREEK RD,NaN,HEALDSBURG,...,95448,2018-11-08,2021-12-31,NaN,NaN,NaN,POINT (-122.95010999999998 38.656503),2,2019-01-01,2013-01-10
12,2192454,ALBANY,WS,308,918967,TERRAVANT WINE COMPANY LLC,TERRAVANT WINE COMPANY,35 & 70 INDUSTRIAL WAY,NaN,BUELLTON,...,93427,2019-06-17,2021-12-31,NaN,NaN,NaN,POINT (-120.202402 34.609092),2,2019-06-17,2013-08-30
13,1286881,NEW YORK,OP,252,913420,MERMAID 88 LLC,THE MERMAID INN,570-572 AMSTERDAM AVE,NaN,NEW YORK,...,10024,2019-12-05,2021-12-31,"RESTAURANT SERVING BEER, WINE, CIDER AND LIQUOR",RECORDED MUSIC. NO DANCING.,LICENSED SIDEWALK CAFE.,POINT (-73.97424 40.788753),1,2020-01-01,2015-09-15
14,1289791,BRONX,AX,122,912566,NEW FORDHAM FOOD PLAZA INC,NaN,2487 CRESTON AVE,NaN,BRONX,...,10468,2019-01-10,2021-12-31,GROCERY STORE SELLING BEER CIDER AND WINE PROD...,NaN,NaN,POINT (-73.898153 40.862681),1,2019-01-10,2016-01-28